            <div class="row" style="cursor: pointer; margin: 10px 0px;">
                <div class="col-md-6 red" style="height: 150px;"><br>
                    <h1 class="white-text advert">Advertize with us</h1>
                </div>
                <div class="col-md-6 blue" style="height: 150px;"> <br>
                    <h1 class="white-text advert">Advertize with us</h1>
                </div>

            </div>